.home {
    scroll-snap-type: y mandatory;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: scroll;
}

.home > div {
    scroll-snap-align: center;
}
  
.invite {
    animation: 3s fadeIn;
}