.App {
  text-align: center;
}

h1 {
  font-weight: normal;
  margin-bottom: 10px;
}

html, body {
  background-color: #f5f2f0;
  color: #3e4041;
  font-family: "Cormorant Garamond";
}

.hebrew {
  font-family: "Tinos";
  font-weight: normal;
  letter-spacing: 1px;
}

.body {
  margin: auto;
}

.hidden {
  display: none;
}

.container {
  padding: 0 30px;
}


@media (min-width: 992px) {
  .container {
      min-width: 970px;
      margin: auto;
  }
}
@media (min-width: 768px) {
  .container {
      width: 690px;
      margin: auto;
  }
}


a {
  color: #978f86;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

input[type="text"] {
  font-size: 16px;
}