.container.details {
    margin-bottom: 50px;
    padding-top: 80px;
    animation: 2s fadeIn;
}
@media (min-width: 768px) {
    .container.details {
        padding-top: 30px;
    }
}

.details .section {
    margin: 35px 0;
    border-bottom: 0.5px solid #c8c4b7;
    padding-bottom: 35px;
}

.details .photo {
    padding-top: 30px;
    text-align: center;
}

.details .bottom-links a {
    display: block;
    margin-bottom: 10px;
    color: unset;
}

.details a:focus, .details a:hover, .details a:active, .details a:target {
    opacity: 50%;
}

.details a i {
    font-size: 12px;
    margin-left: 5px;
}

.details .photo img {
    width: 150px;
}

@media (max-width: 767px) {
    .details .photo img {
        width: 100px;
    }
  }